language: generic 
# each time, we need super user permission
sudo: required
# we need a docker preinstalled
services:
  - docker

# series of steps before tests are run 
before_install:
  # to build docker image. The tag should be user/repo_name as common pratice. The tag is only used inside travis here
  - docker build -t multi-docker -f ./client/Dockerfile.dev ./client
  # invalid argument "Shawn9999/multi-docker" for "-t, --tag" flag: invalid reference format: repository name must be lowercase
script:
  # - docker run multi-docker npm run test -- --coverage
  - docker run -e CI=true multi-docker npm run test

after_success:
  - docker build -t multi-client ./client 
  - docker build -t multi-nginx ./nginx 
  - docker build -t multi-server ./server 
  - docker build -t multi-worker ./worker 
  # login to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # tag the image before pushing to avoid access denied
  - docker tag multi-client shazhu/multi-client
  - docker tag multi-nginx shazhu/multi-nginx
  - docker tag multi-server shazhu/multi-server
  - docker tag multi-worker shazhu/multi-worker
  # Take the images and push them to docker hub
  - docker push shazhu/multi-client  
  - docker push shazhu/multi-nginx  
  - docker push shazhu/multi-server  
  - docker push shazhu/multi-worker  




    